<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.vodkatv">
        <category id="general" label="30001">
            <group id="1" label="30001">
                <setting id="username" label="30003" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
		                <heading>30003</heading>
                    </control>
                </setting>
                <setting id="password" label="30004" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30004</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
                <setting id="devicenick" label="30005" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30005</heading>
                    </control>
                </setting>
                <setting id="epgonchannels" label="30121" type="integer">
                    <level>0</level>
                    <default>4</default>
                    <constraints>
                        <options>
                            <option label="30122">0</option>
                            <option label="30123">1</option>
                            <option label="30124">2</option>
                            <option label="30125">3</option>
                            <option label="30126">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string" />
                </setting>
                <setting id="showallchannels" label="30127" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4" label="30046">
                <setting id="drmsystem" type="integer" label="30047" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30048">0</option>
                            <option label="30049">1</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string" />
                </setting>
            </group>
            <group id="9" label="30117">
                <setting id="dohaddress" type="string" label="30118" help="">
                    <level>0</level>
                    <default>https://cloudflare-dns.com/dns-query</default>
                    <constraints>
                        <options>
                            <option label="30119">https://cloudflare-dns.com/dns-query</option>
                            <option label="30120">https://dns.google/resolve</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string" />
                </setting>
            </group>
        </category>
        <category id="export" label="30057">
            <group id="5" label="30058">
                <setting id="channelexportpath" type="path" label="30059">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="path">
                        <heading>30059</heading>
                    </control>
                </setting>
            </group>
            <group id="6" label="30027">
                <setting id="channelexportname" label="30060" type="string">
                    <level>0</level>
                    <default>channels.m3u</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30060</heading>
                    </control>
                </setting>
                <setting id="exportchannellist" type="action" label="30061">
                    <level>0</level>
                    <data>RunPlugin(plugin://$ID/?action=export_chanlist)</data>
                    <dependencies>
                        <dependency type="enable">
                            <and>
                                <condition operator="!is" setting="channelexportpath"></condition>
                                <condition operator="!is" setting="channelexportname"></condition>
                                <condition operator="!is" setting="kstoken"></condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <control type="button" format="action">
                        <close>false</close>
                    </control>
                </setting>
            </group>
            <group id="7" label="30062">
                <setting id="autoupdateepg" label="30063" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="epgexportname" label="30064" type="string">
                    <level>0</level>
                    <default>epg.xml</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30064</heading>
                    </control>
                </setting>
                <setting id="epgfrom" label="30065" type="integer">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>7</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>30065</heading>
                    </control>
                </setting>
                <setting id="epgto" label="30066" type="integer">
                    <level>0</level>
                    <default>7</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>7</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>30066</heading>
                    </control>
                </setting>
                <!-- epg update frequency: 3, 6, 12, 24, 48, 72 hours -->
                <setting id="epgupdatefrequency" type="integer" label="30067">
                    <level>0</level>
                    <default>43200</default>
                    <constraints>
                        <options>
                            <option label="30068">10800</option>
                            <option label="30069">21600</option>
                            <option label="30070">43200</option>
                            <option label="30071">86400</option>
                            <option label="30072">172800</option>
                            <option label="30073">259200</option>
                        </options>
                    </constraints>
                     <control type="spinner" format="string">
                     </control>
                </setting>
                <setting id="epgfetchinonereq" type="integer" label="30077">
                    <level>0</level>
                    <default>30</default>
                    <constraints>
                        <options>
                            <option label="30078">1</option>
                            <option label="30079">10</option>
                            <option label="30080">20</option>
                            <option label="30081">30</option>
                        </options>
                    </constraints>
                     <control type="spinner" format="string">
                     </control>
                </setting>
                <setting id="epgfetchtries" type="integer" label="30075">
                    <level>0</level>
                    <default>3</default>
                    <constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>10</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <heading>30102</heading>
                    </control>
                </setting>
                <setting id="epgnotifoncompletion" label="30076" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="exportepg" type="action" label="30074">
                    <level>0</level>
                    <data>RunPlugin(plugin://$ID/?action=export_epg)</data>
                    <dependencies>
                        <dependency type="enable">
                            <and>
                            <condition operator="!is" setting="channelexportpath"></condition>
                                <condition operator="!is" setting="epgexportname"></condition>
                                <condition operator="!is" setting="epgfrom"></condition>
                                <condition operator="!is" setting="epgto"></condition>
                                <condition operator="!is" setting="epgupdatefrequency"></condition>
                                <condition operator="!is" setting="kstoken"></condition>
                            </and>
                        </dependency>
                    </dependencies>
                    <control type="button" format="action">
                        <close>false</close>
                    </control>
                </setting>
            </group>
        </category>
        <category id="web" label="30087">
            <group id="8" label="30087">
                <setting id="webenabled" label="30088" type="boolean">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="webport" label="30089" type="integer">
                    <level>0</level>
                    <default>6789</default>
                    <constraints>
                        <minimum>1024</minimum>
                        <step>1</step>
                        <maximum>65535</maximum>
                    </constraints>
                    <dependencies>
                        <dependency type="enable" setting="webenabled">true</dependency>
                    </dependencies>
                    <control type="edit" format="integer">
                        <heading>30089</heading>
                    </control>
                </setting>
                <setting id="webaddress" label="30090" type="string">
                    <level>0</level>
                    <default>127.0.0.1</default>
                    <dependencies>
                        <dependency type="enable" setting="webenabled">true</dependency>
                    </dependencies>
                    <control type="edit" format="ip">
                        <heading>30090</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="devicelist" label="30128">
            <group id="10" label="30128">
                <setting id="oxauthurl" label="30129" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30129</heading>
                    </control>
                </setting>
                <setting id="oxauthclientid" label="30130" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30130</heading>
                    </control>
                </setting>
                <setting id="oxauthclientsecret" label="30131" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30131</heading>
                    </control>
                </setting>
                <setting id="oxauthauthorization" label="30132" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30132</heading>
                    </control>
                </setting>
                <setting id="publicapihost" label="30133" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30133</heading>
                    </control>
                </setting>
                <setting id="publicapiclientid" label="30134" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30134</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="advanced" label="30006">
            <group id="2" label="30007">
                <setting id="useragent" label="30008" type="string">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30008</heading>
                    </control>
                </setting>
            </group>
            <group id="3" label="30009">
                <setting id="showtokens" label="30010" type="boolean">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="devicekey" label="30011" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30011</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="kstoken" label="30012" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30012</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="ksexpiry" label="30013" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30013</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="ksrefreshtoken" label="30014" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30014</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="ksrefreshexpiry" label="30015" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30015</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="jsonpostgw" label="30017" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30017</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="phoenixgw" label="30029" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30029</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="licenseurlbase" label="30033" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30033</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="tenantid" label="30034" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30034</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="apiuser" label="30018" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30018</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="apipass" label="30019" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30019</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="domainid" label="30020" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30020</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="siteguid" label="30021" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30021</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
                <setting id="isfirstrun" label="30051" type="boolean">
                    <level>0</level>
                    <enable>false</enable>
                    <visible>false</visible>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="lastepgupdate" label="30085" type="string">
                    <level>0</level>
                    <enable>false</enable>
                    <default></default>
                    <dependencies>
                        <dependency type="visible" setting="showtokens">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30085</heading>
                    </control>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                </setting>
            </group>
        </category>
    </section>
</settings>